* {
  box-sizing: border-box;
  font-family: monospace;
}

#app {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background: url("https://wallpapercave.com/wp/wp9078263.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
